{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Connexion - PredictNeed IA</title>
    {% include "predictor/includes/seo_head.html" %}
    <link rel="stylesheet" href="{% static 'predictor/style.css' %}?v=86">
</head>
<body>

{% include "predictor/includes/navbar.html" %}

<section class="login-page">
    <div class="login-card">
        <h1>Connexion professionnelle</h1>
        <p>Accédez à votre espace PredictNeed IA.</p>

        {% if erreur %}
            <div class="error-message">
                {{ erreur }}
            </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}

            <label>Nom d'utilisateur</label>
            <input type="text" name="username" required>

            <label>Mot de passe</label>
            <input type="password" name="password" required>

            <button type="submit">Se connecter</button>
        </form>
    </div>
</section>

{% include "predictor/includes/footer.html" %}

</body>
</html>