{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Inscription professionnelle - PredictNeed IA</title>
    <link rel="stylesheet" href="{% static 'predictor/style.css' %}?v=13">
</head>
<body>

<nav class="navbar">
    <a href="{% url 'accueil' %}" class="navbar-logo">PredictNeed IA</a>

    <div class="navbar-links">
        <a href="{% url 'accueil' %}">Accueil</a>
        <a href="{% url 'simulateur' %}">Simulateur</a>
        <a href="{% url 'connexion' %}">Connexion</a>
    </div>
</nav>

<section class="login-page">
    <div class="login-card signup-card">
        <h1>Créer un compte professionnel</h1>
        <p>Configurez votre espace PredictNeed IA.</p>

        {% if erreur %}
            <div class="error-message">
                {{ erreur }}
            </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}

            <label>Nom d'utilisateur</label>
            <input type="text" name="username" required>

            <label>Email professionnel</label>
            <input type="email" name="email" required>

            <label>Mot de passe</label>
            <input type="password" name="password" required>

            <label>Nom de l'entreprise</label>
            <input type="text" name="nom_entreprise" required>

            <label>Secteur d'activité</label>
            <input type="text" name="secteur_activite" placeholder="Ex : beauté, coaching, e-commerce">

            <label>Nom du site</label>
            <input type="text" name="nom_site" required>

            <label>Domaine du site</label>
            <input type="text" name="domaine" placeholder="exemple.fr" required>

            <button type="submit">Créer mon espace</button>
        </form>

        <p class="small-link">
            Déjà un compte ?
            <a href="{% url 'connexion' %}">Se connecter</a>
        </p>

        <p class="small-link">
            Pas encore de compte ?
             <a href="{% url 'inscription' %}">Créer un compte professionnel</a>
        </p>
    </div>
</section>

</body>
</html>